@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
* {box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

  
/*h1{
    position: absolute;
    top: 40px;
    text-align: center;
    padding-left: 30%;
}*/
body{
  background-color: royalblue;
  color: white;
  font-family: 'Langar', cursive;
  text-align: center;
}
/*li{
  list-style: none;
}
.hamburger-menu input{
  width: 40px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  z-index: 5;
  opacity: 0;
}
.hamburger-lines{
   width: 40px;
   height: 32px;
   position: absolute;
   top: 19px;
   left: 7px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-lines .line{
  display: block;
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.hamburger-menu{
  position: relative;
}
.menu-items{
  padding-top: 100px;
  transform: translate(-110%);
  transition: transform 0.5s ease-in-out;
  padding-left: 10px;
  background-color: #fff;
  color: #232323;
  margin-top: -15px;
  padding-bottom: 20px;
  max-width: 400px;
  width: 90%;
}
.menu-items li{
  margin-bottom: 2rem;
}
.hamburger-menu input[type="checkbox"]:checked ~ .menu-items{
  transform: translate(-0%);
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line{
  background-color: #232323;
}
.hamburger-lines .line1{
   transform-origin: 0% 0%;
   transition: transform 0.5s ease-in-out;
}
.hamburger-lines .line3{
  transform-origin: 0% 100%;
  transition: transform 0.5s ease-in-out;
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line1{
  transform: rotate(45deg);
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line2{
  display: none;
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line3{
  transform: rotate(-45deg);
}
.menu-items a{
  color: #232323;
  text-decoration: none;
}
/*.topnav{
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.topnav #mylinks{
  display: none;
}
.topnav a{
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon{
  background-color: #000000;
  display: block;
  position:absolute;
}
.topnav a:hover{
  background-color: #000;
  color: #fff;
}
.active {
  background-color: #4CAF50;
  color: white;
}*/
.one a{
  color: #fff;
  text-decoration: underline;
}
h4{
  font-size: 20px;
}
.one{
  border-radius: 10px;
  width: 500px;
  height: 500px;
  border: #000;
}
.a,.b,.c,.d,.e,.f,.g,.h,.i,.j{
  display: inline;
}
#navbar{
  overflow: hidden;
  background-color: #fff;
}
#navbar a{
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
}
.sticky{
  position: fixed;
  top: 0%;
  width: 100%;
}
h1{
  padding-top: 60px;
}
@media only screen and (max-width: 600px){
  h1{
    padding-top: 150px;
  }
}
